################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Application/FileContentIndex
/.vs/Application/v17/.suo
/Loan.Console/bin
/Loan.Console/obj
/Loan.Domain/bin
/Loan.Domain/obj
/Loan.Application/bin
/Loan.Application/obj

/Loan.Application.Tests/obj
/Loan.Domain.Tests/bin

